<header #header class="header dark-background d-flex flex-column">
  <i
    #headerToggleBtn
    class="header-toggle d-xl-none bi bi-list"
    (click)="headerToggle()"
  ></i>

  <div class="profile-img">
    <img src="/assets/images/Logo.png" alt="" class="img-fluid" />
  </div>

  <a
    href="index.html"
    class="logo d-flex align-items-center justify-content-center"
  >
    <!-- <img src="assets/images/Logo.svg" alt=""> -->
 
  </a>

  <nav id="navmenu" class="navmenu">
    <ul>
      <li>
        <a
          [routerLink]="['']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="bi bi-house navicon"></i>الصفحة الرئيسية</a
        >
      </li>
      <li>
        <a routerLink="/regions" routerLinkActive="active">
          <i class="fas fa-map-marker-alt navicon "></i>المناطق
        </a>
      </li>
      <li>
        <a (click)="logout()"
          ><i class="bi bi-box-arrow-left navicon"></i> تسجيل الخروج</a
        >
      </li>
    </ul>
  </nav>
</header>
