<header #header class="header dark-background d-flex flex-column">
  <i
    #headerToggleBtn
    class="header-toggle d-xl-none bi bi-list"
    (click)="headerToggle()"
  ></i>

  <div class="profile-img">
    <img src="/assets/images/Logo.png" alt="" class="img-fluid" />
  </div>

  <a
    href="index.html"
    class="logo d-flex align-items-center justify-content-center"
  >
    <!-- <img src="assets/images/Logo.svg" alt=""> -->
  </a>

  <nav id="navmenu" class="navmenu">
    <ul>
      <li>
        <a
          [routerLink]="['']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="bi bi-house navicon"></i>الصفحة الرئيسية</a
        >
      </li>
      <li>
        <a routerLink="/add-employee" routerLinkActive="active">
          <i class="fas fa-map-user-alt navicon"></i>إضافة موظف جديد
        </a>
      </li>
      <li>
        <a routerLink="/orders/add" routerLinkActive="active">
          <i class="fas fa-cart-plus navicon"></i>إضافة طلب جديد
        </a>
      </li>
      <li>
        <a routerLink="/regions" routerLinkActive="active">
          <i class="fas fa-map-marker-alt navicon"></i>المناطق
        </a>
      </li>
      <li>
        <a routerLink="/branches" routerLinkActive="active">
          <i class="bi bi-building navicon"></i>الفروع
        </a>
      </li>
      <li>
        <a routerLink="/Shippingtypes" routerLinkActive="active">
          <i class="bi bi-truck navicon"></i>أنواع الشحن
        </a>
      </li>
      <li>
        <a routerLink="/weightsettings" routerLinkActive="active">
          <i class="fas fa-weight navicon"></i>إعدادات الوزن
        </a>
      </li>
      <li>
        <a routerLink="/specialcourierregions" routerLinkActive="active">
          <i class="fas fa-truck navicon"></i>إعدادات المناطق الخاصة بالمندوبين
        </a>
      </li>
      <li>
        <a routerLink="/cities" routerLinkActive="active">
          <i class="fas fa-city navicon"></i>إعدادات المدن
        </a>
      </li>
      <li>
        <a routerLink="/addMerchant" routerLinkActive="active">
          <i class="fas fa-user-plus navicon"></i>إضافة تاجر
        </a>
      </li>
      <li>
        <a routerLink="/addCourier" routerLinkActive="active">
          <i class="fas fa-user-plus navicon"></i>إضافة مندوب
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center" routerLink="/order-reports" routerLinkActive="active">
          <i class="fas fa-file-alt me-2"></i>
          تقارير الطلبات
        </a>
      </li>
      <li>
        <a (click)="logout()"
          ><i class="bi bi-box-arrow-left navicon"></i> تسجيل الخروج</a>
      </li>
    </ul>
  </nav>
</header>
