.arabic-style {
  direction: rtl;
  text-align: right;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.bg-light-primary {
  background-color: rgba(0, 123, 255, 0.1);
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: white;
}

.text-warning {
  font-weight: bold;
  background-color: yellow;
  padding: 5px 10px;
  border-radius: 5px;
}