/* .btn-primary:hover {
    background-color: #0056b3; 
    color: #fff;
    transition: background-color 0.3s ease;
  } */
  .btn-outline-primary {
    border: 2px solid #007bff;
    color: #007bff;
    transition: all 0.3s ease;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #0056b3;
  }
  
  .btn-lg {
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
  }